/*     CSS     */

body {
    margin: 0px;
    overflow: hidden;
}

.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
}

.arjs-loader div img {
    display: block;
    margin: 10px auto;
    width: 100px; 
    height: auto;
}
  
#logoContainer {
    height: fit-content;
    width: fit-content;    
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#tracerLogo {
    display: block;
    margin: 3px 3px;
    width: 100px; 
    height: auto;
}

#memory-button-container {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000;
}

#memory-button {
    font-size: 18px; 
    padding: 10px 20px; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
} 

.active-button {
    background-color: #007bff
}

.deactive-button {
    background-color: #ff0000
}

